body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #fefefe;
	background: #111;
}

footer {
	height: 56px;
	background: #000;
	color: #fefefe;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 400;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	font-family: 'Roboto', sans-serif;
}
footer a {
	color: #fefefe;
	text-decoration: none;
	margin-left: 40px;
}
footer p {
	right: 40px;
	position: absolute;
}

.mainStartContain {
	position: relative;
	top: 133px;
	left: 0;
	height: calc(100vh - 471px); /* extra space reserved for adverts */
	width: calc(100vw - 425px); /* extra space reserved for news and featured apps */
	border-bottom: 3px solid #212121;
	border-right: 3px solid #212121;
}

.adSpot {
	position: fixed;
	bottom: 56px;
	left: 0;
	/* height: 279px; */
	height: calc( 100vh - calc( 100vh - 474px ) - 56px - 139px );
	width: calc(100% - 425px);
	border-right: 3px solid #212121;
}

header {
    width: 100%;
    height: 133px;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 15px;
    user-select: none;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    position: absolute;
    left: 40px;
    top: 20px;
    transform: translateY(-50%);
    font-weight: 400;
}

header .links {
    position: absolute;
    right: 0;
    top: 45px;
    font-size: 27px;
    font-weight: 200;
    transform: translateY(-50%);
}

header .links a {
    color: #e4e4e4;
    text-decoration: none;
    margin-right: 40px;
}

#adrbar {
	position: absolute;
	left: calc(50% - 21.5px);
	top: 22.5px;
	transform: translateX(-50%);
	background: #111;
	width: 500px;
	height: 35px;
	border-radius: 17px 0px 0px 17px;
	border: 3px solid #212121;
	flex-shrink: 0;
	outline: none;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #fefefe;
}

#addTab {
	position: absolute;
	left: calc(50% + 86px * 3 - 21.5px);
	top: 22.5px;
	width: 43px;
	height: 43px;
	border-radius: 0px 17px 17px 0px;
	border: 3px solid #212121;
	background: #111;
	color: #fefefe;
	font-size: 36px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	cursor: pointer;
	transition: 0.1s;
}

#addTab:hover {
	background: #212121;
}

#addTab:active {
	background: #333;
	border: 3px solid #333;
}

#tabsBar {
	position: absolute;
	left: 30px;
	top: 80px;
	width: calc(100% - 30px);
	height: 38px;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#tabsBar::-webkit-scrollbar {
	display: none;
}

.tab {
	width: 120px;
	height: 38px;
	border-radius: 10px;
	border: 3px solid #212121;
	background: #111;
	color: #fefefe;
	flex-shrink: 0;
}

.tab .tabTitle {
	text-al
}